/* Style for background of progress bars */
#progress_empty 
{
  width: 100%;
  background-color: grey;
}

/* Style for filled in progress bar for land discovery */
#land 
{
  width: 0%;
  height: 30px;
  background-color: green;
  text-align: center;
  line-height: 30px;
  color: white;
}

/* Style for filled in progress bar for points discovery */
#points 
{
  width: 0%;
  height: 30px;
  background-color: green;
  text-align: center;
  line-height: 30px;
  color: white;
}

/* Style for filled in progress bar for points examined */
#pointsExamined
{
  width: 0%;
  height: 30px;
  background-color: green;
  text-align: center;
  line-height: 30px;
  color: white;
}

/* Style for any modal dialog which appears over the screen but still allows input */
.modal-content
{
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style for any modal dialog which appears to cancel any user input */
.non-modal 
{
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  height: 0px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Button customizations */
.button 
{
  background-color: #7fdfff;
  transition-duration: 0.25s;
}

.button:hover 
{
  background-color: #66b5cf;
}


/* Below are CSS customizations for all sliders */

/* Div that contains the slider */
.slidecontainer 
{
  width: 100%;
}

/* The slider itself */
.slider 
{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 15px;
}

/* Mouse-over effects */
.slider:hover 
{
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb 
{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #2ecbff; /* Blue background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 15px;
}

.slider::-moz-range-thumb
{
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #2ecbff; /* Blue background */
  cursor: pointer; /* Cursor on hover */
}